/* The ListCell that shows the selected item in a non-editable ComboBox */
.combo-box .list-cell {
    -fx-background-color: #3232d6;
    -fx-text-fill: #ffffff;
}

/* The TextField that shows the selected item in an editable ComboBox */
.combo-box .text-input {
    -fx-background-color: #3232d6;
    -fx-border-color: black;
}

/* Style the arrow button area */
.combo-box .arrow-button {
    -fx-background-color: #3232d6;
}

/* Set  the text color in the popup list for ComboBox to blue */
.combo-box-popup .list-view .list-cell {
    -fx-text-fill: #ffffff;
}

.combo-box:hover {
    -fx-opacity: 0.7;
}

.button {
    -fx-background-color: #3232d6;
    -fx-text-fill: white;
}

.button:hover {
    -fx-opacity: 0.7;
}